MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_TOPIC=#
MQTT_USERNAME=
MQTT_PASSWORD=
SQLITE_PATH=/Users/batagota/BATAGOTA/10_AI_BATA/02_BATA_MQTT/data/mqtt_logs.db

GDRIVE_CREDENTIALS_JSON=config/google_credentials.json
GDRIVE_TOKEN_JSON=config/google_token.json
GDRIVE_FOLDER_NAME=BATAGOTA_MQTT_ARCHIVE
